* {
	padding: 0;
	margin: 0;
	font-family: 'Inter';
}

:root {
	--yellow: #E1BA30;
	--green: #30E1B7;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

h1 {
	font-weight: 900;
	color: var(--green);
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
	font-size: 2.75rem;
}

strong {
	color: var(--yellow);
}

small {
	font-size: 14px;
}

.btn-ghc {
	font-size: inherit;
	background: linear-gradient(103.98deg, var(--green) 6.28%, var(--yellow) 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 100px;
	outline: none;
	border: 0;
	padding: 20px;
	color: #fff;
	cursor: pointer;
	filter: brightness(1.1);
	transition: filter 250ms ease;
	&:hover {
		filter: none;
	}	
	
	&.inactive{
		filter: grayscale(1) brightness(1.1);
	}
	
	&.inactive:hover{
		filter: grayscale(1);
	}
}

a {
	text-decoration: none;
	cursor: pointer;
}

.canvas-ui {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	& .buttons-options {
		position: absolute;
		right: 0;
		top: 60%;
		bottom: 20%;
		padding-right: 1.5rem;
		transition: opacity 400ms ease;
	}
	
	& button, & a {
		pointer-events: all;
	}
}

nav {
	display: flex;
	align-items: center;
	padding: 1rem 1.5rem;

}

.nav-title {
	background: linear-gradient(90deg, var(--green) 0%,var(--yellow) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1.75rem;
	font-weight: 700;
	z-index: 2;
	color: rgba(0, 0, 0, 0.35);
	filter: drop-shadow(0 3px 3px) brightness(1.1);
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	display: flex;
	align-items: center;
	padding: 1rem 2.5rem;
	z-index: 2;
	.footer-link {
		color: var(--green);
		text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
	}
}

.selection-screen {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	inset: 0;
	font-size: 20px;
	text-align: center;
	padding-top: 10%;
	pointer-events: all;
	z-index: 1;
	transition: padding-top 700ms ease, top 700ms ease, opacity 400ms ease;
	h3{
		font-weight: normal;
		color: #fff;
		margin: 40px 0;
		text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
		font-size: 1.75rem;
	}

	&.hidden{
		padding-top: 0;
		top: -160px;
		background-color: transparent;
		pointer-events: none;
		opacity: 0;
		+ * + .display-info{
			transform: none;
		}
	}

	&:not(.hidden) + .buttons-options{
		opacity: 0;
	}

}

.display-info{
	position: absolute;
	top: 10px;
	color: #fff;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
	font-size: 28px;
	text-align: center;
	transform: translateY(-150%);
	transition: transform 1000ms ease;
	display: flex;
	gap: 30px;
	justify-content: center;
	width: 100%;
}

.input-form {
	input, .selectize-control {
		display: inline-block;
		text-align: left;
		padding: 1.35em 1rem;
		border: 0;
		outline: 0;
		color: #fff;
		font-size: inherit;
		background: linear-gradient(93.2deg, rgba(255, 255, 255, 0.4) 1.53%, rgba(255, 255, 255, 0.25) 100%);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(15px);
		border-radius: 15px;
		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4) inset;
		margin: 0 0.2rem;
	}

	input {
		margin-right: 1rem;
		&::placeholder {
			color: rgba(255, 255, 255, 0.6)
		}
	}

	.selectize-control {
		width: 80px;
	}

	button {
		padding: 1.35em 2.5rem;

	}
}

.selectize-input, .selectize-input.full {
	border: 0;
    padding: 0;
	background-color: transparent !important;
    font-size: inherit;
    color: #fff;
    box-shadow: none; 
    border-radius: 0;
}

.selectize-drowdown{
	margin-top: 1.1em !important;
}

.disclaimer {
	color: var(--yellow);
	position: absolute;
	bottom: 1rem;
	display: block;
	width: 100%;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
}